<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<p>Title: 
    <span><%= @article.title%></span>
</p>

<p>Content: 
    <span><%= @article.content%></span>
</p>

 <%= link_to 'Go to articles page', articles_path %>