<header>
    <nav class="container flex align-middle py-8 mx-auto bg-white w-full">
        <img class="object-contain h-8" src=<%= image_path('https://img.icons8.com/dusk/344/ruby-gemstone.png')%>/>
        <h3>Rails Blog</h3>
        <ul class="flex justify-end align-middle w-3/4">
            <li class="nav-li"> <%= link_to "Articles", articles_path, class: "navlink" %> </li>
            <li class="nav-li"> <%= link_to "Authors", authors_path, class: "navlink" %> </li>
        </ul>
    </nav>
</header>